#Other Porjects
IR test
LEDstrip
test
TimerCapture
uCOS-III
uCOS-III template

#CoIDE
*.cogui
*.comarker
CyclePOV/CyclePOV
CyclePOV/logs
a.out

#MatrixAngle
*.suo
MatrixAngle/MatrixAngleTest/bin
MatrixAngle/MatrixAngleTest/obj

#Vim
*.swp
